{% extends 'template.html' %}

{% block body %}
<div class="container mt-5">
    <h3>Добавить новый рецепт</h3>
    <br/>
    <form method="POST" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Имя рецепта</span>
            <input type="text" class="form-control" name="recipe_name" placeholder="введите название рецепта"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">Короткое описание</span>
            <textarea class="form-control" name="recipe_short_desc"></textarea>
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-text">Полное описание</span>
            <textarea class="form-control" name="recipe_description"></textarea>
        </div>
        <br/>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Категория рецепта</label>
            <select class="form-select" id="inputGroupSelect01" name="recipe_type">
                <option selected>выберите категоторию</option>
                <option value="breakfasts">Завтраки</option>
                <option value="soups">Супы</option>
                <option value="hot">Горячее</option>
                <option value="salads">Салаты</option>
                <option value="desserts">Десерты</option>
                <option value="drinks">Напитки</option>
                <option value="newyear">Новогоднее меню</option>
            </select>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="recipe_fav">
            <label class="form-check-label" for="flexSwitchCheckDefault">Добавить в избранное</label>
        </div>
        <br/>
        <div class="input-group mb-3">
            {{ form.hidden_tag() }}
            {{ form.file(class="form-control", id="inputGroupFile03") }}
            {{ form.submit(class="input-group-text", for="inputGroupFile03") }}
        </div>

    </form>
</div>
{% endblock %}