{% extends 'front_template.html' %}
{% block index_page_title %}
{% if categories == 'breakfasts' %}
Вкусные рецепты завтраков &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'soups' %}
Вкусные рецепты супов &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'hot' %}
Вкусные рецепты горячих блюд &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'salads' %}
Вкусные рецепты салатов &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'desserts' %}
Вкусные рецепты десертов &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'drinks' %}
Вкусные рецепты напитков &mdash; Рецепты на каждый день с Steelspoons.ru
{% elif categories == 'newyear' %}
Вкусные рецепты новогодних блюд &mdash; Рецепты на каждый день с Steelspoons.ru
{% endif %}
{% endblock %}
{% block body %}
<div class="section pt-5 pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-9">
                <span class="fw-normal text-uppercase d-block mb-1">Категория</span>
                {% if categories == 'breakfasts' %}
                <h2 class="heading">'Завтраки'</h2>
                {% elif categories == 'soups' %}
                <h2 class="heading">'Супы'</h2>
                {% elif categories == 'hot' %}
                <h2 class="heading">'Горячее'</h2>
                {% elif categories == 'salads' %}
                <h2 class="heading">'Салаты'</h2>
                {% elif categories == 'desserts' %}
                <h2 class="heading">'Десерты'</h2>
                {% elif categories == 'drinks' %}
                <h2 class="heading">'Напитки'</h2>
                {% elif categories == 'newyear' %}
                <h2 class="heading">'Новогоднее меню'</h2>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            {% for el in recipes %}
            <div class="col-lg-9">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <a href="/recipes/{{ el.id }}/{{ el.url }}/"><img
                                src="{{ request.hostname }}/data/files/{{ el.image_webp }}" width="250" height="161"
                                alt="{{ el.title.capitalize() }}"
                                class="img-fluid"></a>
                    </div>
                    <div class="content">
                        <h2 class="heading"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{ el.title.capitalize()
                            }}</a>
                        </h2>
                        <p>{{ el.short_desc }}</p>
                        <a href="https://t.me/SteelSpoonsBot" target="_blank"
                           class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{{ url_for('static', filename='images/bot.webp')}}"
                                     alt="SteelSpoons telegram bot">
                            </div>
                            <div class="text">
                                <strong>@SteelSpoonsBot</strong>
                                <span>кулинарный бот</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!--            <div class="row align-items-center justify-content-center py-5">-->
            <!--                <div class="col-lg-6 text-center">-->
            <!--                    <div class="custom-pagination">-->
            <!--                        <a href="#">1</a>-->
            <!--                        <a href="#" class="active">2</a>-->
            <!--                        <a href="#">3</a>-->
            <!--                        <a href="#">4</a>-->
            <!--                        <a href="#">5</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
    {% endblock %}