{% extends 'template.html' %}

{% block body %}
<code>панель управления в разработке</code>
<br/><br/>
<p>Рецептов в базе данных: {{ info_count }}</p>
<p>Завтраки: {{ breakfasts_count }}</p>
<p>Супы: {{ soups_count }}</p>
<p>Горячее: {{ hot_count }}</p>
<p>Салаты: {{ salads_count }}</p>
<p>Десерты: {{ desserts_count }}</p>
<p>Напитки: {{ drinks_count }}</p>
<p>Новогоднее меню: {{ newyear_count }}</p>
<br/>
<a class="btn btn-warning" href="/cpanel/add_recipe" role="button">Добавить рецепт</a>
<br/><br/>
<hr>
<br/>
<p>Уникальных пользователей за 24 часа: {{ unique_users }}</p>
<p>Уникальных пользователей за месяц: -</p>
<p>Количество просмотров за 24 часа: -</p>
<p>Количество просмотров за месяц: -</p>
{% endblock %}
