<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/tiny-slider.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/glightbox.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/aos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front/style.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
    <title>{% block index_page_title %}{% endblock %}{% block recipe_page_title %}{% endblock %}</title>
    <meta name="description" lang="ru" content="Завтраки, супы, десерты и другие рецепты с фотографиями."/>
    <meta name="yandex-verification" content="842bd7f1de28a7f4"/>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
            <div class="row">
                <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                    <a href="/" class="logo m-0 text-uppercase">Steel Spoons &reg;</a>
                </div>
                <div class="col-md-3 order-3 order-md-1">
                    <form action="#" class="search-form">
                        <span class="icon-search2"></span>
                        <input type="search" class="form-control" placeholder="Поиск...">
                    </form>
                </div>
                <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                    <div class="d-flex">
                        <ul class="list-unstyled social me-auto">
                            <li><a href="https://t.me/SteelSpoons" target="_blank"><span
                                    class="icon-telegram"></span></a>
                            </li>
                            <li><a href="#" target="_blank"><span class="icon-vk"></span></a></li>
                        </ul>
                        <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
                           data-toggle="collapse" data-target="#main-navbar">
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
                <li class="active"><a href="index.html">Главная</a></li>
                <li><a href="#">Рецепты</a></li>
<!--                <li><a href="/categories/newyear/">Новогоднее меню 🎄</a></li>-->
                <li><a href="/categories/breakfasts/">Завтраки</a></li>
                <li><a href="/categories/soups/">Супы</a></li>
                <li><a href="/categories/hot/">Горячее</a></li>
                <li><a href="/categories/salads/">Салаты</a></li>
                <li><a href="/categories/desserts/">Десерты</a></li>
                <li><a href="/categories/drinks/">Напитки</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block posts %}{% endblock %}
{% block recipe %}{% endblock %}
{% block body %}{% endblock %}
<div class="site-footer">
    <div class="container">
        <div class="row justify-content-center copyright">
            <div class="col-lg-7 text-center">
                <div class="widget">
                    <ul class="social list-unstyled">
                        <li><a href="https://t.me/SteelSpoons" target="_blank"><span class="icon-telegram"></span></a>
                        </li>
                        <li><a href="#"><span class="icon-vk"></span></a></li>
                    </ul>
                </div>
                <div class="widget">
                    <p>Steel Spoons &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        Любое использование контента без письменного разрешения <a href="https://steelspoons.ru"
                                                                                   target="_blank"
                                                                                   rel="nofollow noopener">Steelspoons.ru</a>
                        запрещено.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js')}}"></script>
    <script src="{{ url_for('static', filename='js/counter.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
    <!--COUNTERS_START -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(91216725, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });



    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/91216725" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N2F2JRL1FN"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N2F2JRL1FN');



    </script>
    <!--COUNTERS_END-->
    <script src="https://yastatic.net/share2/share.js"></script>
</body>
</html>