{% extends 'front_template.html' %}
{% block index_page_title %}Рецепты на каждый день с Steelspoons.ru &mdash; пошаговые рецепты завтраков, горячих блюд, саталов и десертов.{% endblock %}
{% block posts %}
<div class="section pt-5 pb-0">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <h2 class="heading">Лучшие рецепты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="posts-slide-wrap">
                    <div class="posts-slide" id="posts-slide">
                        {% for el in fav_recipes %}
                        <div class="item">
                            <div class="post-entry d-lg-flex">
                                <div class="me-lg-5 thumbnail mb-4 mb-lg-0">
                                    <a href="/recipes/{{ el.id }}/{{ el.url }}/">
                                        <img src="data/files/{{ el.image_webp }}" width="440" height="385"
                                             alt="{{ el.title.capitalize() }}" class="img-fluid">
                                    </a>
                                </div>
                                <div class="content align-self-center">
                                    <div class="post-meta mb-3">
                                        {% if el.type == 'breakfasts'%}
                                        <a href="/categories/breakfasts/" class="category">Завтраки </a>&mdash;
                                        {% elif el.type == 'soups' %}
                                        <a href="/categories/soups/" class="category">Супы </a>&mdash;
                                        {% elif el.type == 'hot' %}
                                        <a href="/categories/hot/" class="category">Горячее </a>&mdash;
                                        {% elif el.type == 'salads' %}
                                        <a href="/categories/salads/" class="category">Салаты </a>&mdash;
                                        {% elif el.type == 'desserts' %}
                                        <a href="/categories/desserts/" class="category">Десерты </a>&mdash;
                                        {% elif el.type == 'drinks' %}
                                        <a href="/categories/drinks/" class="category">Напитки </a>&mdash;
                                        {% elif el.type == 'newyear' %}
                                        <a href="/categories/newyear/" class="category">Новогоднее меню </a>&mdash;
                                        {% endif %}
                                        <span class="date">{{ el.date.strftime('%B %d, %Y') }}</span>
                                    </div>
                                    <h2 class="heading"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{
                                        el.title.capitalize() }}</a>
                                    </h2>
                                    <p>{{ el.short_desc }}</p>
                                    <a href="https://t.me/SteelSpoonsBot" target="_blank"
                                       class="post-author d-flex align-items-center">
                                        <div class="author-pic">
                                            <img src="{{ url_for('static', filename='images/bot.webp')}}"
                                                 alt="SteelSpoons telegram bot">
                                        </div>
                                        <div class="text">
                                            <strong>@SteelSpoonsBot</strong>
                                            <span>кулинарный бот</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row g-5">
            {% for el in recipes %}
            <div class="col-lg-4">
                <div class="post-entry d-block small-post-entry-v">
                    <div class="thumbnail">
                        <a href="/recipes/{{ el.id }}/{{ el.url }}/">
                            <img src="data/files/{{ el.image_webp }}" width="400" height="257"
                                 alt="{{ el.title.capitalize() }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="content">
                        <div class="post-meta mb-1">
                            {% if el.type == 'breakfasts'%}
                            <a href="/categories/breakfasts/" class="category">Завтраки </a>&mdash;
                            {% elif el.type == 'soups' %}
                            <a href="/categories/soups/" class="category">Супы </a>&mdash;
                            {% elif el.type == 'hot' %}
                            <a href="/categories/hot/" class="category">Горячее </a>&mdash;
                            {% elif el.type == 'salads' %}
                            <a href="/categories/salads/" class="category">Салаты </a>&mdash;
                            {% elif el.type == 'desserts' %}
                            <a href="/categories/desserts/" class="category">Десерты </a>&mdash;
                            {% elif el.type == 'drinks' %}
                            <a href="/categories/drinks/" class="category">Напитки </a>&mdash;
                            {% elif el.type == 'newyear' %}
                            <a href="/categories/newyear/" class="category">Новогоднее меню </a>&mdash;
                            {% endif %}
                            <span class="date">{{ el.date.strftime('%B %d, %Y') }}</span>
                        </div>
                        <h2 class="heading mb-3"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{ el.title.capitalize()
                            }}</a></h2>
                        <p>{{ el.short_desc }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="h4 fw-bold">Завтраки</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for el in last_three_breakfasts %}
                    <div class="col-lg-12">
                        <div class="post-entry d-md-flex xsmall-horizontal mb-5">
                            <div class="me-md-3 thumbnail mb-3 mb-md-0">
                                <a href="/recipes/{{ el.id }}/{{ el.url }}/"><img src="data/files/{{ el.image_webp }}"
                                                                                  width="150" height="96"
                                                                                  alt="{{ el.title.capitalize() }}"
                                                                                  class="img-fluid"></a>
                            </div>
                            <div class="content">
                                <div class="post-meta mb-1">
                                    {% if el.type == 'breakfasts'%}
                                    <a href="/categories/breakfasts/" class="category">Завтраки </a>&mdash;
                                    {% elif el.type == 'soups' %}
                                    <a href="/categories/soups/" class="category">Супы </a>&mdash;
                                    {% elif el.type == 'hot' %}
                                    <a href="/categories/hot/" class="category">Горячее </a>&mdash;
                                    {% elif el.type == 'salads' %}
                                    <a href="/categories/salads/" class="category">Салаты </a>&mdash;
                                    {% elif el.type == 'desserts' %}
                                    <a href="/categories/desserts/" class="category">Десерты </a>&mdash;
                                    {% elif el.type == 'drinks' %}
                                    <a href="/categories/drinks/" class="category">Напитки </a>&mdash;
                                    {% elif el.type == 'newyear' %}
                                    <a href="/categories/newyear/" class="category">Новогоднее меню </a>&mdash;
                                    {% endif %}
                                    <span class="date">{{ el.date.strftime('%B %d, %Y') }}</span>
                                </div>
                                <h2 class="heading"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{
                                    el.title.capitalize() }}</a></h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="h4 fw-bold">Десерты</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for el in last_three_desserts %}
                    <div class="col-lg-12">
                        <div class="post-entry d-md-flex xsmall-horizontal mb-5">
                            <div class="me-md-3 thumbnail mb-3 mb-md-0">
                                <a href="/recipes/{{ el.id }}/{{ el.url }}/"><img src="data/files/{{ el.image_webp }}"
                                                                                  width="150" height="96"
                                                                                  alt="{{ el.title.capitalize() }}"
                                                                                  class="img-fluid"></a>
                            </div>
                            <div class="content">
                                <div class="post-meta mb-1">
                                    {% if el.type == 'breakfasts' %}
                                    <a href="/categories/breakfasts/" class="category">Завтраки </a>&mdash;
                                    {% elif el.type == 'soups' %}
                                    <a href="/categories/soups/" class="category">Супы </a>&mdash;
                                    {% elif el.type == 'hot' %}
                                    <a href="/categories/hot/" class="category">Горячее </a>&mdash;
                                    {% elif el.type == 'salads' %}
                                    <a href="/categories/salads/" class="category">Салаты </a>&mdash;
                                    {% elif el.type == 'desserts' %}
                                    <a href="/categories/desserts/" class="category">Десерты </a>&mdash;
                                    {% elif el.type == 'drinks' %}
                                    <a href="/categories/drinks/" class="category">Напитки </a>&mdash;
                                    {% elif el.type == 'newyear' %}
                                    <a href="/categories/newyear/" class="category">Новогоднее меню </a>&mdash;
                                    {% endif %}
                                    <span class="date">{{ el.date.strftime('%B %d, %Y') }}</span>
                                </div>
                                <h2 class="heading"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{
                                    el.title.capitalize() }}</a></h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}