{% extends 'template.html' %}

{% block body %}
<form method="POST">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="border border-3 border-primary"></div>
                <div class="card bg-white shadow-lg">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4">
                            <p class=" mb-5">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}

                            </p>
                            <div class="mb-3">
                                <label for="email" class="form-label ">Логин</label>
                                <input type="text" name="login" class="form-control" id="email" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Пароль</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="*******">
                            </div>
                            <p class="small"><a class="text-primary" href="mailto:dbabiichuk@yandex.ru">Забыли пароль?</a></p>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit" value="Login">Войти</button>
                            </div>
                        </form>
                        <div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}