{% extends 'template.html' %}

{% block body %}
<div class="container mt-5">
    <h3>Изменение рецепта</h3>
    <br/>
    <form method="POST" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Имя рецепта</span>
            <input type="text" class="form-control" name="recipe_name" value="{{ recipe.title }}"
                   placeholder="введите название рецепта"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">Короткое описание</span>
            <textarea class="form-control" name="recipe_short_desc">{{ recipe.short_desc }}</textarea>
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-text">Полное описание</span>
            <textarea class="form-control" name="recipe_description">{{ recipe.description }}</textarea>
        </div>
        <br/>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Категория рецепта</label>
            <select class="form-select" id="inputGroupSelect01" name="recipe_type">
                <option selected>{{ recipe.type }}</option>
                <option value="breakfasts">Завтраки</option>
                <option value="soups">Супы</option>
                <option value="hot">Горячее</option>
                <option value="salads">Салаты</option>
                <option value="desserts">Десерты</option>
                <option value="drinks">Напитки</option>
                <option value="newyear">Новогоднее меню</option>
            </select>
        </div>
        <div class="form-check form-switch">
            {% if recipe.favorites == "on" %}
            <input class="form-check-input" type="checkbox" name="recipe_fav" id="flexSwitchCheckChecked" checked>

            {% else %}
            <input class="form-check-input" type="checkbox" name="recipe_fav" id="flexSwitchCheckDefault">
            {% endif %}
            <label class="form-check-label" for="flexSwitchCheckChecked">Добавить в избранное</label>

        </div>
        <br/>
        <input type="submit" class="btn btn-warning" value="Изменить">
    </form>
</div>
{% endblock %}