{% extends 'template.html' %}

{% block body %}
<div class="container mt-5">
    <h3>Список рецептов</h3>
    <br/>
    {% if recipes|length > 0 %}
        {% for el in recipes %}
        <div class="alert alert-info">
            <h3>{{ el.title }}</h3>
            <p><small>{{ el.type }}</small></p>
            <a href="/cpanel/recipes/{{ el.id }}/edit" class="btn btn-warning" role="button">Изменить</a>
            <a href="/cpanel/recipes/{{ el.id }}/delete" class="btn btn-danger" role="button">Удалить</a>
        </div>
        {% endfor %}
    {% else %}
        <p>Пока нет рецептов в базе</p>
    {% endif %}
</div>
{% endblock %}