{% extends 'front_template.html' %}
{% block recipe_page_title %}
{{ recipes.title.capitalize() }} &mdash; Рецепты на каждый день с Steelspoons.ru
{% endblock %}
{% block recipe %}
<div class="section post-section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                </div>
                <h2 class="heading text-center">{{ recipes.title.capitalize() }}</h2>
                <p class="lead mb-4 text-center">{{ recipes.short_desc }}</p>
                <img src="{{ request.hostname }}/data/files/{{ recipes.image_webp }}"
                     alt="{{ recipes.title.capitalize() }}"
                     class="img-fluid rounded mb-4">
                {{ description|safe }}
                <div class="row mt-5 pt-5 border-top">
                    <div class="col-12">
                        <span class="fw-bold text-black small mb-1">Поделитесь рецептом</span><br/><br/>
                        <div class="ya-share2" data-curtain data-shape="round"
                             data-services="vkontakte,odnoklassniki,telegram,twitter,whatsapp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading">Читайте также</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for el in related_recipes %}
            <div class="col-lg-12">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <a href="/recipes/{{ el.id }}/{{ el.url }}/"><img
                                src="{{ request.hostname }}/data/files/{{ el.image_webp }}" width="250" height="161"
                                alt="{{ el.title.capitalize() }}" class="img-fluid"></a>
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            {% if el.type == 'breakfasts' %}
                            <a href="/categories/breakfasts/" class="category">Завтраки </a>&mdash;
                            {% elif el.type == 'soups' %}
                            <a href="/categories/soups/" class="category">Супы </a>&mdash;
                            {% elif el.type == 'hot' %}
                            <a href="/categories/hot/" class="category">Горячее </a>&mdash;
                            {% elif el.type == 'salads' %}
                            <a href="/categories/salads/" class="category">Салаты </a>&mdash;
                            {% elif el.type == 'desserts' %}
                            <a href="/categories/desserts/" class="category">Десерты </a>&mdash;
                            {% elif el.type == 'drinks' %}
                            <a href="/categories/drinks/" class="category">Напитки </a>&mdash;
                            {% elif el.type == 'newyear' %}
                            <a href="/categories/newyear/" class="category">Новогоднее меню </a>&mdash;
                            {% endif %}
                            <span class="date">{{ el.date.strftime('%B %d, %Y') }}</span>
                        </div>
                        <h2 class="heading"><a href="/recipes/{{ el.id }}/{{ el.url }}/">{{ el.title.capitalize() }}</a>
                        </h2>
                        <p>{{ el.short_desc }}</p>
                        <a href="https://t.me/SteelSpoonsBot" target="_blank"
                           class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{{ url_for('static', filename='images/bot.webp')}}"
                                     alt="SteelSpoons telegram bot">
                            </div>
                            <div class="text">
                                <strong>@SteelSpoonsBot</strong>
                                <span>кулинарный бот</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
